<div class="scrollheader">
  <div class="announcement-bar">
    <a href="/pages/covid-19-update" class="announcement-bar--link">
      <p class="announcement-bar__message custom-announcement-bar__message">
        COVID-19: A message to our Kylie Cosmetics family... Read here.
      </p>
    </a>
  </div>
  <div class="bannertopdesktop">
    <div class="row fw">
      <div class="desktop-7 tablet-4 mobile-3" id="banner-message" style="line-height:30px;">
        <strong>FREE SHIPPING</strong>
        <span>DOMESTIC ORDERS OVER $40</span>
        <span>INTERNATIONAL ORDERS OVER $60</span>
      </div>
      <ul id="cart" class="desktop-5 tablet-2 mobile-hide right">
        <li class="seeks">
          <a id="inline" aria-label="search">
            <i class="icon-search"></i>Search
          </a>
        </li>
        <li class="cust">
          <a href="/account/login" aria-label="login">Account</a>
        </li>
        <li>
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            <span class="cart-words">My Cart</span>&nbsp;
            <i class="icon-shopping-cart"></i>
            <span class="CartCount">0</span>&nbsp;
            <span class="CartCost">$0.00 USD</span>
          </a>
        </li>
      </ul>
      <!-- Shown on Mobile Only -->
      <ul id="cart" class="mobile-3 mobile-only">
        <li class="wider"><span class="shifter-handle">Menu</span>
          <span class="mobile-shop">SHOP</span>
        </li>
      </ul>
    </div>
  </div>
</div>